/* ============================================
     ADD TO CART PAGE
     ---------------------------------------------------
    Author: Nur 'Aainaa Hamraa binti Hamka
    Date: 01 January 2026
    Tested by: Siti Norlie Yana
    Updated by: Siti Norlie Yana
    Description:
       This page displays the shopping 
       cart page for Pawfessor subscription.
============================================ */

/* ================= HEADER ================= */
.cart-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 80px;
  background: white;
}

.cart-logo {
  display: flex;
  align-items: center;
  gap: 10px;
}

.cart-logo img {
  width: 40px;
}

.cart-logo span {
  font-weight: 700;
  font-size: 22px;
  color: #ff9b8f;
}

.cart-nav {
  display: flex;
  align-items: center;
  gap: 25px;
}

.cart-nav a {
  text-decoration: none;
  color: #333;
  font-weight: 500;
}

.cart-icons img {
  width: 32px;
}

/* ================= MAIN ================= */
.cart-main {
  display: flex;
  gap: 40px;
  padding: 60px 80px;
  background: radial-gradient(circle at top, #f2f3ff, #c6c8f5);
  min-height: 100vh;
}

/* ================= LEFT SIDE ================= */
.cart-left {
  flex: 2;
}

.cart-left h2 {
  margin-bottom: 5px;
}

.subtext {
  color: #666;
  margin-bottom: 25px;
}

.cart-item {
  background: #f8f8ff;
  padding: 18px;
  border-radius: 18px;
  display: flex;
  align-items: center;
  gap: 15px;
  margin-bottom: 18px;
  cursor: pointer;
  transition: 0.2s ease;
  border: 2px solid transparent;
}

.cart-item:hover {
  border-color: #d6d6ff;
}

.cart-item img {
  width: 42px;
}

.cart-item input {
  accent-color: #6c63ff;
}

.item-info {
  flex: 1;
}

.item-info span {
  font-size: 14px;
  color: #777;
}

.price {
  font-weight: 600;
}

/* ================= RIGHT SIDE ================= */
.cart-summary {
  flex: 1;
  background: white;
  padding: 30px;
  border-radius: 24px;
  box-shadow: 0 20px 40px rgba(0, 0, 0, 0.08);

  max-height: 450px;              /* limits height */
  display: flex;
  flex-direction: column;
  justify-content: center;        /* centers content vertically */
}


.cart-summary h3 {
  margin-bottom: 20px;
}

.summary-row {
  display: flex;
  justify-content: space-between;
  margin: 10px 0;
}

.summary-row.total {
  margin-bottom: 190px;
  font-weight: 700;
}

.pay-btn {
  width: 100%;
  margin-top: 30px;
  padding: 14px;
  border-radius: 30px;
  border: none;
  background: #ffd1dc;
  font-weight: 600;
  cursor: pointer;
  text-align: center;
  text-decoration: none;
  color: #000;
  transition: 0.2s;
}

.pay-btn:hover {
  background: #ffb6c1;
}

