* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}

/* Navbar */
.navbar {
    display: flex;
    justify-content: space-between;
    padding: 20px 60px;
    align-items: center;
}


.logo {
    font-size: 22px;
    font-weight: bold;
    color: #ff6f61;
}

.navbar nav a {
    margin-right: 20px;
    text-decoration: none;
    color: #333;
}

#logoImage {
    width: 55px;
    height: 55px;
}

.logo{
    display: flex;
    justify-content: center;
    align-items: center;
}

.btn {
    background: #ffb3a7;
    border: none;
    padding: 10px 18px;
    border-radius: 20px;
    cursor: pointer;
}